.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App__image {
    width: 50vw;
    height: 50vh;
    object-fit: contain;
    border: black 3px solid;
}

.App__upload {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #7f2da6;
    border-radius: 10%;
}